@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* general styling */
body {
    background-color: #718792;
}

p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}

h1, h2 {
    font-family: 'Patrick Hand', cursive;
    color: #1c313a;
}

/* header both pages */
header {
    background-color: #ede2e2;
    height: 5rem;
}

.title {
    display: inline-block;
}

#title-one {
    padding-left: 2rem;
}

#title-two {
    font-size: 3em;
}

#prev-score {
    float: right;
    padding-right: 1.5rem;
    padding-top: 1.5rem;

}

#categories-btn {
    float: right;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    border: 2px solid #718792;
    border-radius: 0.75rem;
}
#categories-btn a {
    text-decoration: none;
    color: #1c313a;
    padding: 0.5rem;
}

/* game area both pages */
.game-area {
    background-color: #ede2e2;
    margin: 8vh 6vw;
    padding: 1rem 0 3rem;
    border-radius: 2rem;
}

#choose-cat, #question {
    text-align: center;
    margin: 1rem 1rem 2rem;
    font-size: 1.5em;
}

span p {
    display: inline-block;
}

#cats-a, #cats-b, #qs-one, #qs-two {
    margin: 0 15vw;
    display: flex;
    justify-content: space-around;
}

div span {
    display: inline-flex;
    justify-content: center;
    width: 12rem;
    padding: 1em;
    margin: 3rem auto;
}

.small-span {
    margin: 0.5rem auto;
}

.right-span {
    float: right;
}

.btn {
    text-decoration: none;
    color: #1c313a;
}

#restart-btn {
    border: 2px solid #718792;
    border-radius: 0.75rem;
    width: auto;
    padding: 5px;
    margin-left: 3rem;
}

#quit-btn {
    border: 2px solid #718792;
    border-radius: 0.75rem;
    width: auto;
    padding: 5px;
    margin-right: 3rem;
}

/* category colours */
.cat1 {
    background-color: rgba(255, 242, 0, 0.3);
    border: 2px solid rgb(255, 242, 0);
    border-radius: 0.75rem;
}

.cat2 {
    background-color: rgba(168, 0, 255, 0.3);
    border: 2px solid rgb(168, 0, 255);
    border-radius: 0.75rem;
}

.cat3 {
    background-color: rgba(0, 0, 255, 0.3);
    border: 2px solid rgb(0, 0, 255);
    border-radius: 0.75rem;
}

.cat4 {
    background-color: rgba(0, 255, 114, 0.3);
    border: 2px solid rgb(0, 255, 114);
    border-radius: 0.75rem;
}

.cat5 {
    background-color: rgba(255, 0, 72, 0.3);
    border: 2px solid rgb(255, 0, 72);
    border-radius: 0.75rem;
}

.cat6 {
    background-color: rgba(255, 144, 0, 0.3);
    border: 2px solid rgb(255, 144, 0);
    border-radius: 0.75rem;
}

.cat-btn:hover, .answer-btn:hover {
    transform: scale(1.04);
    cursor: pointer;
}

/* answer buttons */
.answer-btn {
    border: 2px solid;
    border-radius: 0.75rem;
}

/* footer both pages */
footer {
    position: absolute;
    bottom: 0;
    background-color: #ede2e2;
    height: 3rem;
    width: 100%;
}

#contact {
    text-align: center;
}